[submodule "MTreeFramework"]
	path = MTreeFramework
	url = git@github.com:was0107/treeTableView.git
[submodule "MSKUFramework"]
	path = MSKUFramework
	url = git@github.com:was0107/MSKUFramework.git
[submodule "MLogFramework"]
	path = MLogFramework
	url = git@github.com:was0107/MLogFramework.git
