[submodule "MTreeFramework"]
	path = MTreeFramework
	url = git@github.com:was0107/treeTableView.git
[submodule "MSKUFramework"]
	path = MSKUFramework
	url = git@github.com:was0107/MSKUFramework.git
[submodule "MLogFramework"]
	path = MLogFramework
	url = git@github.com:was0107/MLogFramework.git
[submodule "MDebugFramework"]
	path = MDebugFramework
	url = git@github.com:was0107/MDebugFramework.git
[submodule "MFullScreenFramework"]
	path = MFullScreenFramework
	url = git@github.com:was0107/MFullScreenFramework.git
[submodule "MDetailFramework"]
	path = MDetailFramework
	url = git@github.com:was0107/MDetailFramework.git
[submodule "MSectionFramework"]
	path = MSectionFramework
	url = git@github.com:was0107/MSectionFramework.git
[submodule "MCalendarFramework"]
	path = MCalendarFramework
	url = git@github.com:was0107/MCalendarFramework.git
